* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  &.navActive {
    overflow: hidden;
  }
}
.wrap {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
}
// ====================
